<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>wedding_system_planner_update</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>sign_inServlet</display-name>
    <servlet-name>sign_inServlet</servlet-name>
    <servlet-class>Servlet.sign_inServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sign_inServlet</servlet-name>
    <url-pattern>/sign_inServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signInServlet</display-name>
    <servlet-name>signInServlet</servlet-name>
    <servlet-class>cscorner.signInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signInServlet</servlet-name>
    <url-pattern>/signInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cscorner.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HinduServlet</display-name>
    <servlet-name>HinduServlet</servlet-name>
    <servlet-class>cscorner.HinduServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HinduServlet</servlet-name>
    <url-pattern>/HinduServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MuslimServlet</display-name>
    <servlet-name>MuslimServlet</servlet-name>
    <servlet-class>cscorner.MuslimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MuslimServlet</servlet-name>
    <url-pattern>/MuslimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChristianServlet</display-name>
    <servlet-name>ChristianServlet</servlet-name>
    <servlet-class>cscorner.ChristianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChristianServlet</servlet-name>
    <url-pattern>/ChristianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherServlet</display-name>
    <servlet-name>OtherServlet</servlet-name>
    <servlet-class>cscorner.OtherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherServlet</servlet-name>
    <url-pattern>/OtherServlet</url-pattern>
  </servlet-mapping>
</web-app>